@model IEnumerable<PA.Web.Models.Menu>

    <!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color:#7E4391;   ">
    <a class="navbar-brand" style="background-color:#ED6C94; width:100%; font-family:Calibri;text-decoration:solid;color:#ffffff;font-size:x-large;" href="../Home/Index"> Projeto Afeto  | Sistema Gestão de Cuidadores de Idosos</a>
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>
    <ul class="nav navbar-top-links navbar-right" style="background-color:#7E4391;color:#FFFFFF;">
        <!--    <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#868E96;">
                   <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
               </a>



           </li> -->
        <!-- /.dropdown -->
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#FFFFFF;">
                <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks">
                @Html.Raw(ViewBag.Proposta)

                @*<li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Bloqueado Rank - Versão 2</strong>
                                    <span class="pull-right text-muted">10% Completo</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                        <span class="sr-only">10% Completo (successo)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Bloqueado Rank - Versão 2</strong>
                                    <span class="pull-right text-muted">40% Completo</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Completo</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Bloqueado Rank - Versão 2</strong>
                                    <span class="pull-right text-muted">5% Completo</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                                        <span class="sr-only">5% Completo (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Bloqueado Rank - Versão 2</strong>
                                    <span class="pull-right text-muted">5% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                                        <span class="sr-only">5% Completo (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>*@

            </ul>
            <!-- /.dropdown-tasks -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#FFFFFF;">
                @*<i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>*@
                <div class="notification-icon">
                    <span class="fa fa-bell fa-fw"></span>
                    <span class="badge">@ViewBag.CountQuadroAviso</span>
                </div>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                @Html.Raw(ViewBag.QuadroAviso)
                @*<li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> Novo chamado
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 novos sequidores
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Envio de mensagem
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> Novo chamado
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Servidor reiniciado
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Veja todos alertas</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>*@
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#94DB40;text-decoration:double; font-family:Calibri;">
                <i class="fa fa-user fa-fw"></i> @ViewBag.Usuario <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="~/Usuario/Index"><i class="fa fa-user fa-fw"></i> Dados do usuário</a>
                </li>
                <li>
                    <a href="~/GrupoUsuario/Index"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                </li>
                <li class="divider"></li>
                <li>
                    @Html.ActionLink("Sair", "Sair", new { controller = "Menu" }, new { @class = "fa fa-sign-out fa-fw" })


                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>

    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" style="background-color:#7E4391;" role="navigation">
        
            <div style="position:absolute; background-color:#B3A4D2; width:100%; margin-top:0px;">
                <a href="../">
                    <span>

                        <img src="~/Content/images/logoTransparecia.png" width="100%" style="float:left;" />
                    </span>
                </a>
            </div>
        
        <div class="sidebar-nav navbar-collapse " style="color:#FFFFFF; padding-top:50%;">
            <ul class="nav" id="side-menu">


                @foreach (var item in Model)
                {

                    if (item.isParent == false && item.parentId == 0)
                    {

                        <li><a style="color:#FFFFFF;" href="@Url.Action(item.action, item.controller)"><i class="@item.imageClass"></i> @item.nameOption</a></li>
                    }
                    else
                    {
                        if (item.isParent == true)
                        {
                            <li>
                                <a href="#" style="color:#FFFFFF;"><i class="@item.imageClass"></i> @item.nameOption<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    @foreach (var child in Model.Where(p => p.parentId == item.Id))
                                    {
                                        if (child.controller == null)
                                        {
                                            <li><a style="color:#FFFFFF;" href="#">@child.nameOption</a></li>
                                        }
                                        else
                                        {
                                            <li><a style="color:#FFFFFF;" href="@Url.Action(child.action, child.controller)">@child.nameOption</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                }

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
